 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1417px;
}

.u-section-1 .u-image-1 {
  width: 885px;
  height: 855px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 10rem;
  margin: -203px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 44px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    font-weight: normal;
    width: 654px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 696px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -44px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 522px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 130px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-image-1 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}