.u-section-1 .u-sheet-1 {
  min-height: 1300px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-2 {
  margin: 55px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 308px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  line-height: 1.6;
  margin: 24px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 43px 0 0;
}

.u-section-1 .u-image-2 {
  width: 531px;
  height: 357px;
  margin: 43px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  line-height: 1.6;
  margin: 24px 0 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
  }

  .u-section-1 .u-text-4 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 292px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 184px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 229px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 102px;
    margin-bottom: 0;
  }
}